.App {
  width: 100%;
}

.buttonContainer{
  height: 50px;
  width: 100%;
  display: flex;
  padding-left: 20px;
  align-items: center;
  gap: 20px;
}

.link{
  height: 80%;
  width: 12%;
  display: flex;
}

.button{
  height: 100%;
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(77,114,190);
  border: none;
}

a{
  text-decoration: none;
}